:root {
  --cor-principal: #4B3935;
  --preto: #262626;
  --branco: #f9f9f9;
  --fundo: #262626;

  --border-radius: 8px;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  overflow-x: hidden;
  background-color: var(--fundo);
  color: var(--branco); 
}

a, p, button {
  font-size: 1rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}